<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>用户中心</title>
    <link rel="stylesheet" href="jsp/css/bootstrap.min.css">
    <link rel="stylesheet" href="jsp/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="jsp/css/style.css">
    <link rel="stylesheet" href="jsp/css/style_.css">
    <link rel="stylesheet" href="jsp/css/style_test.css"/>
    <link rel="stylesheet" href="jsp/assets/layui/css/layui.css">
    <link rel="shortcut icon" href="jsp/img/ico2.png">
    <link href="jsp/css/account.css" rel="stylesheet"/>
    <style>

    </style>
</head>
<body>
<section id="container" class="">
    <!--<header class="header white-bg">-->
        <!--<a href="index.html" class="logo"><span class="indexspan">  Monitor</span></a>-->
        <!--<div>-->
            <!--<ul class="layui-nav indexOut">-->
                <!--<li class="layui-nav-item">-->
                    <!--<a href="javascript:;" class="color8">admin</a>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd><a href="login.html">退出1</a></dd>-->
                    <!--</dl>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</header>-->
    <!--<aside>-->
        <!--<div id="sidebar" class="nav-collapse ">-->
            <!--<ul class="sidebar-menu">-->
                <!--<li class="sub-menu">-->
                    <!--<a href="index.html" class="">-->
                        <!--<i class="fa fa-globe "></i>-->
                        <!--<span class="font14px">总览</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="sub-menu">-->
                    <!--<a href="service.html" class="">-->
                        <!--<i class="fa fa-codepen"></i>-->
                        <!--<span class="font14px">业务视图</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="sub-menu">-->
                    <!--<a href="Infrastructure.html" class="">-->
                        <!--<i class="fa fa-server"></i>-->
                        <!--<span class="font14px">资源池监控</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="sub-menu">-->
                    <!--<a href="fault.html" class="">-->
                        <!--<i class="fa fa-bell"></i>-->
                        <!--<span class="font14px">故障告警</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="sub-menu">-->
                    <!--<a href="analysis.html" class="">-->
                        <!--<i class="fa fa-bar-chart"></i>-->
                        <!--<span class="font14px">分析</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="active">-->
                    <!--<a class="" href="setting.html">-->
                        <!--<i class="fa fa-gears"></i>-->
                        <!--<span class="font14px">设置</span>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<img src="jsp/img/89583768002741918.png" class="logo">-->
        <!--</div>-->
    <!--</aside>-->
<!--<div class="modal-dialog modal-lg" role="document">-->
    <div id="main-content" class="content-account">
        <div class="between" id="a2">
            <section class="panel panel-account" id="a-management">
                <div class="panel-body t-management"><h3 class="c-title h-account">用户管理中心</h3></div>
                <div class="panel-body panel-body-account">
                    <div class="row mbottom2">
                        <div class="col-xs-6">
                            <span class="userText marginl">修改用户角色:</span>
                            <select class="form-control userInput" v-model="m1">
                                <option value="1">用户</option>
                                <option value="2">管理员</option>
                                <option value="3">超级管理员</option>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <span class="userText marginl">绑定用户组:</span>
                    <span class="tc" v-for="(data,index) in userg">{{data.name}}
                        <i class="fa fa-close clo" v-on:click="deluserspan2(index)"></i></span>
                            <button class="btn btn-link" data-toggle="modal" data-target="#urerGroup2">选择用户组
                            </button>
                        </div>
                    </div>
                    <div class="row mbottom2">
                        <div class="col-xs-4">
                            <span class="userText marginl">修改用户名:</span>
                            <input type="text" class="form-control userInput" v-model="m7">
                        </div>
                        <div class="col-xs-4">
                            <span v-if="us2" class="color2 margin1">用户名为必填项</span>
                        </div>
                    </div>
                    <div class="row mbottom2">
                        <div class="col-xs-4">
                            <span class="userText marginl color6">新密码:</span>
                            <input type="password" class="form-control userInput" v-model="m5">
                        </div>
                    </div>
                    <div class="row mbottom2">
                        <div class="col-xs-4">
                            <span class="userText marginl color6">确认新密码:</span>
                            <input type="password" class="form-control userInput" v-model="m6">
                        </div>
                        <div class="col-xs-4">
                            <span v-if="np_" class="color2 margin1">密码为必填项，请确认密码输入正确</span>
                        </div>
                    </div>
                    <div class="row mbottom2">
                        <div class="col-xs-4">
                            <i class="fa fa-user fa-2x fa-fw v-middle"></i>
                            <span class="userText">修改姓名:</span>
                            <input type="text" class="form-control userInput" v-model="m2">
                        </div>
                        <div class="col-xs-4">
                            <i class="fa fa-mobile fa-2x fa-fw v-middle"></i>
                            <span class="userText">修改电话:</span>
                            <input type="tel" class="form-control userInput" v-model="m3">
                        </div>
                        <div class="col-xs-4">
                            <i class="fa fa-envelope fa-2x fa-fw v-middle"></i>
                            <span class="userText">修改邮箱:</span>
                            <input type="email" class="form-control userInput" v-model="m4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 mbottom2">
                            <span>修改告警通知：</span>
                            <input type="radio" value="0" v-model="changed2" id="st"><label for="st" class="color5">启用</label>
                            <input type="radio" value="1" v-model="changed2" id="cl"><label for="cl" class="color2">关闭</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4" v-show="sh2">
                            <span class="userText marginl">允许告警时间</span>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="test10" placeholder=" - " v-model="test9">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4" v-show="sh2">
                            <span class="userText marginl">允许告警等级</span>
                            <select class="form-control userInput" v-model="m8">
                                <option value="0">未分类</option>
                                <option value="1">信息</option>
                                <option value="2">警告</option>
                                <option value="3">一般严重</option>
                                <option value="4">严重</option>
                                <option value="5">灾难</option>
                            </select>
                        </div>
                        <div class="col-xs-4" v-show="sh2">
                            <span class="userText marginl">告警方式:</span>
                            <input type="checkbox" id="cha1" v-model="ch1"><label for="cha1">邮件</label>
                            <input type="checkbox" id="cha2" v-model="ch2"><label for="cha2">短信</label>
                            <input type="checkbox" id="cha3" v-model="ch3"><label for="cha3">方式</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-left" v-on:click="ao">提交</button>
                    </div>
                </div>
                <div class="panel-footer text-align-center backwhite">
                    © 2017 - 2019, JKSTACK. All rights reserved.
                </div>
            </section>
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                           aria-hidden="true" data-backdrop="static" data-keyboard="false"
                           id="urerGroup2">
            <div class="modal-dialog modal-sm mid2" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title color4">选择用户组</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <select size="10" class="form-control" multiple="multiple" v-model="usgro">
                                    <option v-for="(data,index) in usersData" :value="index">{{data.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary pull-left" v-on:click="ao">提交</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
</body>
</html>
<script src="jsp/js/jquery-3.2.1.min.js"></script>
<script src="jsp/js/bootstrap.min.js"></script>
<script src="jsp/js/vue.min.js"></script>
<script src="jsp/assets/layui/layui.js"></script>
<script src="jsp/js/setting.js"></script>
<script src="jsp/js/account.js"></script>
<script>

</script>
